# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v1.2. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader". Also, select "Enable extra
# low-level configuration options" and configure "GPIO pins to set at
# micro-controller startup" to "!PC13".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
step_distance: .0125
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 4
position_endstop: 4
position_max: 235
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PB15
diag_pin: PC0
microsteps: 16
interpolate: True
run_current: 0.500
hold_current: 0.450
sense_resistor: 0.110
stealthchop_threshold: 200
driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 12
driver_PWM_REG: 8
driver_PWM_FREQ: 1
driver_PWM_GRAD: 14
driver_PWM_OFS: 36
driver_SGTHRS: 100

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
step_distance: .0125
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -14
position_endstop: -14
position_max: 235
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC6
diag_pin: PC1
microsteps: 16
interpolate: True
run_current: 0.500
hold_current: 0.450
sense_resistor: 0.110
stealthchop_threshold: 200
driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 12
driver_PWM_REG: 8
driver_PWM_FREQ: 1
driver_PWM_GRAD: 14
driver_PWM_OFS: 36
driver_SGTHRS: 100

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
step_distance: .0025
endstop_pin: probe: z_virtual_endstop
position_min: -5
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC10
microsteps: 16
interpolate: True
run_current: 0.500
hold_current: 0.450
sense_resistor: 0.110
stealthchop_threshold: 20
driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 12
driver_PWM_REG: 8
driver_PWM_FREQ: 1
driver_PWM_GRAD: 14
driver_PWM_OFS: 36

[bltouch]
sensor_pin: ^PC2
control_pin: PA1
pin_move_time: 0.675
stow_on_each_sample: True
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: false
x_offset: -50
y_offset: -8
z_offset: 0
speed: 10	  
samples: 2
sample_retract_dist: 3.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 1		   		   

[safe_z_home]
home_xy_position: 167,125
speed: 80
z_hop: 10                
z_hop_speed: 10

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 15,15
mesh_max: 180,215
probe_count: 5,5
split_delta_z: .025
move_check_distance: 5.0						
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2			

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
step_distance: 0.00251692
nozzle_diameter: 0.400
filament_diameter: 1.750
#instantaneous_corner_velocity: 2.000
max_extrude_only_distance:150
heater_pin: PC8
max_power: 0.5
sensor_type: NTC 100K beta 3950
sensor_pin: PA0
control: pid
pid_Kp: 7.264
pid_Ki: 0.319
pid_Kd: 41.405
min_extrude_temp: 175
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
microsteps: 16
run_current: 0.600
hold_current: 0.500
sense_resistor: 0.110
stealthchop_threshold: 200
driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 20
driver_TBL: 2
driver_TOFF: 3
driver_HEND: 0
driver_HSTRT: 5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
driver_PWM_LIM: 12
driver_PWM_REG: 8
driver_PWM_FREQ: 1
driver_PWM_GRAD: 14
driver_PWM_OFS: 36

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
pid_Kp: 60.143
pid_Ki: 1.162
pid_Kd: 778.102
min_temp: 0
max_temp: 140

[fan]
pin: PA8
max_power: 0.5
hardware_pwm: false
cycle_time: 0.500
kick_start_time: 0.100

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FFD0054242363234772357-if00
baud: 115200		
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 2000
max_accel_to_decel: 1000
max_z_velocity: 10
max_z_accel: 200
square_corner_velocity: 10

[filament_switch_sensor fsensor]
pause_on_runout: True
runout_gcode:
    M600
event_delay: 10.0
switch_pin: !PC15

[static_digital_output usb_pullup_enable]
pins: !PC13

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
menu_timeout: 10

# custom display

[menu __octoprint __pause]
type: command
enable: toolhead.is_printing
name: Pause printing
gcode:
      M600

[menu __octoprint __resume]
type: command
enable: !toolhead.is_printing
name: Resume printing
gcode:
     RESUME_PRINT

[menu __filament __unload]
type: command
name: Unload Filament
gcode:
	UNLOAD_FILAMENT

[menu __filament __load]
type: command
name: Load Filament
gcode:
	LOAD_FILAMENT

[menu __filament __feed]
type: command
name: Purge Filament
gcode:
    PURGE

[menu __filament __resume]
type: command
name: Resume
gcode:
    RESUME_PRINT

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[delayed_gcode welcome]
initial_duration: 5
gcode:
  M117 Welcome!
  M118 Welcome!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  
[delayed_gcode clear_display]
gcode:
  M117
  M118

[virtual_sdcard]
path: ~/.octoprint/uploads/

[gcode_macro G29]
gcode:
        G28
	BED_MESH_CALIBRATE
	BED_MESH_PROFILE SAVE=Ender3
	M117 ABL Done
        M118 ABL Done
	UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    
[respond]
default_type: command

[idle_timeout]
gcode:
	M84
	TURN_OFF_HEATERS
timeout: 600

[firmware_retraction]
retract_length: 1
retract_speed: 25
unretract_speed: 25
	
[pause_resume]
recover_velocity: 25

[gcode_macro M206]
gcode:
        SET_GCODE_OFFSET Z=-{params.Z}

# Filament change gcode, parameters are a default park position if no XYZ is specified  - Z is relative.
[gcode_macro M600]
default_parameter_X: 5
default_parameter_Y: 0
default_parameter_Z: 10
gcode:
	SAVE_GCODE_STATE NAME=M600_state
        G91
        G1 E-.8 F2700
        G1 Z{Z}
        G90
        G1 X{X} Y{Y} F3000
        UNLOAD_FILAMENT
        M18 E
        TURN_OFF_HEATERS
        M107 ;Turn-off fan
	M118 Filament Runout Detected
	M117 Filament Runout Detected
			
[gcode_macro RESUME_PRINT]
gcode:
        SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
        M109 S200
        G92 E0.0
	RESTORE_GCODE_STATE NAME=M600_state
	RESUME
        UPDATE_DELAYED_GCODE ID=clear_display DURATION=10

[gcode_macro LOAD_FILAMENT]
gcode:
        M117 Loading Filament...
        M118 Loading Filament...
        M109 S190
        M83
        G1 E80 F150
        G1 E40 F100
        M400
        M117 Load Complete
        M118 Load Complete
        M18 E
        TURN_OFF_HEATERS
	SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
	UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
        M400
        
[gcode_macro UNLOAD_FILAMENT]
gcode:
	SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=0
        M117 waiting for hothend temperature
        M118 waiting for hothend temperature
        M109 S190
        M117 Unloading Filament...
        M118 Unloading Filament...
        M83
        G1 E0.5 F1000
        G1 E-0.5 F1000
        G1 E1.0 F1000
        G1 E-1.0 F1000
        G1 E1.5 F1000
        G1 E-1.5 F1000
        G1 E2.0 F1000
        G1 E-120 F1000
        M117 Remove Filament Now!
        M118 Remove Filament Now!
        M18 E
        TURN_OFF_HEATERS
        M400

[gcode_macro PURGE]
gcode:
    M117 PURGING...
    M118 PURGING...
    M109 S190
    M83
    G1 E20.0 F250
    G90
    M18 E
    TURN_OFF_HEATERS
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
    SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
    M400
    
[gcode_macro START_PRINT]
gcode:
        SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
	G92 E0 ; Reset Extruder
	G28 ; Home all axes
        BED_MESH_CALIBRATE ; auto bed level
	#BED_MESH_PROFILE LOAD=default
        SET_GCODE_OFFSET Z=-1.85
	#G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
	#G1 X10.1 Y30 Z0.3 F5000.0 ; Move to start position
	#G1 X10.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
	#G1 X10.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
	#G1 X10.4 Y30 Z0.3 F1500.0 E30 ; Draw the second line
	#G92 E0 ; Reset Extruder
	#G1 Z3.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
	#G1 X15 Y20 Z1 F5000.0 ; Move over to prevent blob squish
        M400
	
[gcode_macro END_PRINT]
gcode:
	G91 ;Relative positioning
        G1 E-4 Z0.2 F2400 ;Retract and raise Z
	G1 X5 Y5 F3000 ;Wipe out
	G1 Z10 ;Raise Z more
	G90 ;Absolute positionning
	G1 X5 Y220 ;Present print
	M107 ;Turn-off fan
        TURN_OFF_HEATERS
	M84 X Y E Z ;Disable all steppers
	M400

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.862500, -0.445000, 0.056250, 0.195000, 0.213750
#*# 	  -0.398750, -0.306250, -0.050000, 0.107500, 0.406250
#*# 	  -0.087500, -0.248750, -0.085000, 0.101250, 0.513750
#*# 	  -0.150000, -0.218750, -0.062500, 0.171250, 0.513750
#*# 	  -0.408750, -0.267500, 0.082500, 0.258750, 0.410000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0000000001
#*# max_x = 180.0
#*# min_y = 15.0
#*# max_y = 215.0
#*#
#*# [bed_mesh Ender3]
#*# version = 1
#*# points =
#*# 	  -0.862500, -0.445000, 0.056250, 0.195000, 0.213750
#*# 	  -0.398750, -0.306250, -0.050000, 0.107500, 0.406250
#*# 	  -0.087500, -0.248750, -0.085000, 0.101250, 0.513750
#*# 	  -0.150000, -0.218750, -0.062500, 0.171250, 0.513750
#*# 	  -0.408750, -0.267500, 0.082500, 0.258750, 0.410000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0000000001
#*# max_x = 180.0
#*# min_y = 15.0
#*# max_y = 215.0
